* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    background-color: antiquewhite;
}

.container {
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    height: 200px;
    padding: 20px;
    background-color: coral;
    border-radius: 20px;
    padding: 30px;
}

.title h1 {
    margin-bottom: 10px;
}

.title h3 {
    margin-bottom: 10px;
}